body {
    background-color: #fdfdfd;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    text-align: center;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
}

#yesButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

#noButton {
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
}

#teddyBear {
    max-width: 200px;
    transition: transform 0.5s;
    margin-left: 100px;
}

img:hover {
    transform: scale(1.1);
}